<li class='d-flex justify-content-between align-items-center '>
  <span class="profile-link">
    <%= link_to user.name,  user_path(user), class: 'profile-link h5' %>
  </span>
    <%= form_for @friendship do |form| %>
      <%= form.hidden_field :user_id, value: user.id %>
      <%= form.hidden_field :friend_id, value: current_user.id %>
      <%= form.submit 'Add' %>
    <%end%>
</li>